<div class="container">
    <div class="row">
        <ul class="list-group">
            <li [ngClass]="{'active': getLevelName() === 'A1'  }" class="list-group-item">A1</li>
            <li [ngClass]="{'active': getLevelName() === 'A2'  }" class="list-group-item">A2</li>
            <li [ngClass]="{'active': getLevelName() === 'A3'  }" class="list-group-item">B1</li>
            <li [ngClass]="{'active': getLevelName() === 'A4'  }" class="list-group-item">B2</li>

        </ul>
    </div>
    <div class="row">
        <div class="col-lg-4">
            Question {{getQuestionNumber()}}: {{currentQuestion.question}}
            <p></p>
            <form #f="ngForm" novalidate (ngSubmit)="submitAnswer(f.value)" class="form-horizontal">
                <div *ngFor="let option of currentQuestion.options; let idx = index" class="radio">
                    <label>
                        <input type="radio" [value]="option"  [ngModel]="value" [checked]="idx === 0"  name="answer"> {{option}}</label>
                </div>
                <p></p>
                <button [disabled]="testOver" type="submit" class="btn btn-primary">Next</button>
            </form>
            <p></p>
    <p>
        {{notification}}
    </p>
            <p></p>
            <p *ngIf="testOver">Your leve is: {{getLevelName()}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="getPercentageComplete() + '%'">
                    {{getQuestionNumber()}} of {{getTotalQuestions()}}
                </div>
            </div>
        </div>
    </div>
</div>