<div class="container">
    <div class="row">
        <div class="col-lg-4">
            Question {{questionNumber}}: {{currentQuestion.question}}
            <p></p>
            <form #f="ngForm" novalidate (ngSubmit)="submitAnswer(f.value)" class="form-horizontal">
                <div *ngFor="let option of currentQuestion.options; let idx = index" class="radio">
                    <label>
                        <input type="radio" [value]="option" [ngModel]="option" #rowid="ngModel" name="answer" [checked]="idx === 0"> {{option}}</label>
                </div>
                <button [disabled]="testOver" type="submit" class="btn btn-primary">ok</button>
            </form>
            <p>{{score}}</p>
            <p>{{getLevelName()}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="percentComplete + '%'">
                    {{percentComplete}} %
                </div>
            </div>
        </div>
    </div>
</div>